body {
  font-family: Verdana, sans-serif;
  background-color: rgb(24, 24, 24);
  color: rgb(226, 226, 226);
}

button {
  float: right;
}

section {
  margin: 1rem 0;
}

h1, h2, h3 {
  margin: 0;
  border: 0;
  padding: 0;
}
h1 {
  font-size: 2rem;
}
h2, h3 {
  margin: 10px 0;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  margin: 0;
  border: 0;
}